<div class="icons-container">
  
  <div class="icon">
    <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
  </div>

  <div class="icon">
    <i class="fa fa-users fa-5x" aria-hidden="true"></i>
  </div>

  <div class="icon">
    <i class="fa fa-list-ul fa-5x" aria-hidden="true"></i>
  </div>

    <br />

  <div class="icon-label">
    <h3>Plan Your Garden</h3>
  </div>

  <div class="icon-label">
    <h3>Contribute Plots</h3>
  </div>

  <div class="icon-label">
    <h3>Maintain and Grow!</h3>
  </div>

</div>
