
/* COLOR TOWN! */
$lavender: #8879CA;
$ltgreen: #60C060;
$dkgreen: #2E732E;
$medbrown: #8D5D38;
$dkbrown: #735034;
$bodytext: #332424;
/*$notwhite: #FDFCF8;*/

/* FONT TOWN! */
$lecker: "Leckerli One";
$lobster: "Lobster Two";
$roboto: "Roboto";
$rye: "Rye";
$shrik: "Shrikhand";


/* MAIN ELEMENTS TOWN! */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: $bodytext;
  background-color: $dkgreen;
  font-family: $roboto;
}

h1, h2 {
  font-family: $lobster;
}

h1 {
  text-align: center;
  font-size: 7em;
  line-height: 20px;
  color: $ltgreen;
}

h2 {
  text-align: center;
  font-size: 2.2em;
  color: $medbrown;
}

h3 {
  font-size: 1.2em;
}

a {
  color: $dkgreen;
  text-decoration: none;
}

a:visited {
  color: $dkbrown;
}

a:hover {
  color: $ltgreen;
}

.border-box {
  border-bottom: 40px solid $ltgreen;
  background-color: #FDFCF8;
  text-align: left;
  width: 100%;
}

.content-box {
  padding: 30px;
  max-width: 700px;
  margin: 0 auto;
}

.errors {
  color: red;
}

/* NAVIGATION TOWN! */

nav {
  width: 100%;
  background-color: $ltgreen;
  padding-top: 20px;
  padding-bottom: 10px;

  a {
    color: #FDFCF8;
    font-size: 1.3em;
    text-decoration: none;
  }
  
  a:hover {
    color: $medbrown;
  }

  a:visited {
    color: #FDFCF8;
  }

  ul {
    max-width: 800px;
    margin: 0 auto;
    list-style: none;
    padding-left: 0px;
    text-align: center;
  }

  li {
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }
}


/* FORMS TOWN! */

.form-input {
  display: block;
  padding: 10px;
  text-align: center;
}

.form-button {
  display: block;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}


/* HOME PAGE ICONS TOWN! */

div.icons-container {
  width: 100%;
  text-align: center;
}

div.icon {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 10px solid $ltgreen;
  color: $ltgreen;
  text-align: center;
  vertical-align: middle;
  margin: 0px 20px;
  padding-top: 25px;
}

div.icon-label {
  display: inline-block;
  width: 150px;
  margin: 0px 20px;

  h3 {
    font-size: 1.5em;
    color: $medbrown;
    font-family: $roboto;
  }
}
